/* 3.1-Home Section */

.home{
    height: 100vh;
    width: 100% !important;
    padding: 0;
    margin: 0;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    position: relative;
}

.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-title{
    color: #f1f1f1;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home-desc{
    margin: 20px 0;
    color: #f1f1f1;
    letter-spacing: 2px;
    line-height: 1.5;
}
.btn{
    min-width: 160px;
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    
}

.btn-learn{
    margin-left: 10px;
    background-color: royalblue;
    color: var(--whiteColor);
}

/* @media (ma)
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide) */
@media (max-width: 1200px) {
    .home-title{
        font-size: 2.5rem;
    }
}
@media (max-width: 992px) {
    .home-title{
        font-size: 2rem;
    }
    .home-desc{
        line-height: 1;
        font-size: 1rem;
    }
}