/* 3.4-Offer Section */
.offer-item{
    border: 2px solid #e8e8e8;
    margin-bottom: 35px;
    padding: 20px 15px 30px 70px;
    position: relative;

}

.offer-item:nth-child(2),.offer-item:nth-child(5){
    margin:0 5%;
}

.offer-item .icon{

    position: absolute;
    color: var(--mainColor);
    left: 15px;
    top: 25px;
}
.offer-item-title{
    text-transform: capitalize;
    transition: color .5s;
    margin-bottom: 15px;
    
}

.offer-item-desc{
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    color:var(--grayColor);
}

.offer-item:hover .offer-item-title{
    color: var(--whiteColor);
}